{% extends 'bookshelf/base.html' %}

{% block title %}About - MindfulBookshelf{% endblock %}

{% block content %}
    <h1>About MindfulBookshelf</h1>
    <p>Welcome to MindfulBookshelf, your online bookstore for exploring a diverse collection of books on various topics. We believe in the power of literature to inspire, educate, and transform lives.</p>
    <p>At MindfulBookshelf, we are passionate about curating a selection of books that cater to different interests, from fiction and non-fiction to self-help and academic literature.</p>
    <p>Our mission is to promote a culture of reading and lifelong learning by providing access to high-quality books that enrich the mind and nourish the soul.</p>
    <p>Thank you for joining us on this journey of exploration and discovery. Happy reading!</p>
{% endblock %}
