{% load static %}
{% block title %}Book Details - {{ book.title }}{% endblock %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <p>
        <strong>Author:</strong> {{ book.author }}
    </p>
    <p>
        <strong>Description:</strong> {{ book.description }}
    </p>
    <p>
        <strong>Publication Date:</strong> {{ book.publication_date|date:"F d, Y" }}
    </p>
    <p>
        <strong>Category:</strong> {{ book.category.name }}
    </p>
    {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}"
             alt="Book Cover"
             width="200"
             height="300">
    {% else %}
        <p>No cover image available</p>
    {% endif %}
    <p>
        {% if book.pdf_document %}
            <a href="{% url 'book_detail' book_id=book.id %}">Read Book</a>
        {% else %}
            <p>No PDF available for this book</p>
        {% endif %}
    </p>
    {% if book.available %}
        <p>
            Status: <strong>Online</strong>
        </p>
    {% else %}
        <p>
            Status: <strong>Offline</strong>
        </p>
        <button id="toggleBookAvailability"
                data-book-id="{{ book.id }}"
                data-available="{{ book.available }}">Toggle Availability</button>
    {% endif %}
    {% if not book.available %}<button id="deleteBook" data-book-id="{{ book.id }}">Delete Book</button>{% endif %}
    <button id="editBookButton"
            data-book-id="{{ book.id }}"
            onclick="navigateToEditBook({{ book.id }})">Edit Book Details</button>
    <script>
                function navigateToEditBook(bookId) {
                  // Your JavaScript code to handle navigation (e.g., confirm popup, window.location)
                  window.location.href = "{% url 'edit_book' book_id=book.id %}"; // Example using window.location
                }
    </script>
{% endblock %}
