<!-- header.html -->
{% load static %}
<header class="header">
    <!-- Logo -->
    <a href="{% url 'home' %}">
        <img src="{% static 'bookshelf/img/logos/Bookstore_light-removebg-preview.png' %}"
             alt="MindfulBookshelf Logo"
             class="logo logo-light"
             width="250"
             height="250">
    </a>
    <!-- Navigation -->
    <nav class="navigation">
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'book_list' %}">Books</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <!-- Display admin overview link only for admin users -->
                    <li>
                        <a href="{% url 'admin_overview' %}">Admin Overview</a>
                    </li>
                {% endif %}
                <!-- Display sign-out link for authenticated users -->
                <li>
                    <a href="{% url 'logout' %}">Sign Out</a>
                </li>
            {% else %}
                <!-- Display sign-in link for non-authenticated users -->
                <li>
                    <a href="{% url 'login' %}">Sign In</a>
                </li>
                <!-- Display sign-up link for non-authenticated users -->
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
